@media (max-width:1200px) {

}

@media (max-width:991px) {
	.header {
		display: flex;
		justify-content: space-evenly;
	}
	.promo {
		min-height: 550px;
		padding: 22px 0 70px 0;
		&__wrapper {
			margin-top: 60px;
			margin-right: 40px;
		}
		&__subheader {
			line-height: 12px;
		}
		&__icons {
			margin-top: 50px;
		}
		.button_main {
			margin-top: 30px;
		}
	}
	.advantages {
		padding: 50px 0 50px 0;
		&__wrapper {
			justify-content: space-evenly;
		}
	}
	.consultation {
		min-height: 600px;
		padding: 60px 0 60px 0;
		h2 {
			margin-left: 40px;
		}
		&__descr {
			margin: 50px 0 0 40px;
		}
		.feed-form {
			margin-left: 40px;
		}
	}
	.carousel {
		.slick-next, .slick-prev {
			display:none !important;
		}
		padding: 40px 0;
		img {
			width: 70%;
			margin: 0 auto;
		}
	}
	.catalog {
		&__tabs {
			margin-top: 40px;
		}
		&__content {
			justify-content: space-evenly;
		}
	}
	.reviews {
		&__wrapper {
			margin-left: 10%;
		}
		&__block {
			margin-bottom: 50px;
		}
	}
}

@media (max-width:767px) {
	.header {
		display: flex;
		justify-content: space-evenly;
	}
	.promo {
		min-height: 550px;
		padding: 22px 0 70px 0;
		&__wrapper {
			margin-top: 60px;
			margin-right: 40px;
		}
		&__subheader {
			line-height: 12px;
		}
		&__icons {
			margin-top: 50px;
		}
		.button_main {
			margin-top: 30px;
		}
	}
	.advantages {
		padding: 50px 0 50px 0;
		&__wrapper {
			justify-content: space-evenly;
		}
	}
	.consultation {
		min-height: 600px;
		padding: 60px 0 60px 0;
		h2 {
			margin-left: 40px;
		}
		&__descr {
			margin: 50px 0 0 40px;
		}
		.feed-form {
			margin-left: 40px;
		}
	}
	.carousel {
		&__inner {
			width: 80%;
		}
	}
	.catalog {
		&__tabs {
			margin-top: 40px;
		}
		&__content {
			justify-content: space-evenly;
		}
	}
	.reviews {
		&__block {
			margin-bottom: 50px;
		}
	}	
}

@media (max-width:575px) {
	.header {
		justify-content: space-evenly;
		align-items: center;
		&__logo {
		   width: 40%;
		   img {
			   width: 100%;
		   } 
		}
		&__official {
			display: none;
		}
		&__phone {
			display: none;
		}
	}
	.promo {
		background-size: auto 100%;
		&__wrapper {
			width: 320px;
			margin: 0 auto;
			margin-top: 30px;
			align-items: center;
		}
		&__header {
			font-size: 30px;
			text-align: center;
		}
		&__subheader {
			font-size: 16px;
			line-height: 18px;
			margin-top: 0;
			text-align: center;
		}
		&__icons {
			margin-top: 20px;
			width: 100%;
			flex-direction: column;
			align-items: center;
		}
		&__icon {
			margin-bottom: 10px;
		}
		.button_main {
			margin-top: 30px;
			width: 80%;
		}
	}
	.advantages {
		padding: 30px 0 30px 0;
		&__wrapper {
			flex-direction: column;
			align-items: center;
			margin-top: 35px;
		}
		&__item {
			margin-bottom: 20px;
		}
		&__subtitle {
			margin-top: 0;
		}
		&__descr {
			margin-top: 5px;
		}
	}

	.consultation {
		padding: 40px 0 30px 0;
		.title {
			&_left {
				font-size: 28px;
				text-align: center;
				margin-left: 0;
			}
		}
		&__descr {
			margin: 0;
			text-align: center;
		}
		.feed-form {
			margin-left: 0;
			align-items: center;
			width: 100%;
			.button_submit {
				width: 67%;
				font-size: 13px;
			}
		}
	}

	.carousel {
		&__inner {
			width: 80%;
		}
	}
	.catalog {
		&__tabs {
			flex-direction: column;
		}
		&__tab {
			margin-top: 5px;
		}
	}
	.reviews {
		&__wrapper {
			margin-top: 30px;
			margin-left: 0;
		}
		&__block {
			flex-direction: column;
			align-items: center;
			margin-bottom: 50px;
			div {
				padding: 0 30px;
			}
		}
		&__title, &__subtitle, &__descr {
			text-align: center;
		}
		&__title {
			margin-top: 10px;
		}
	}
	.footer {
		&__info {
			width: 320px;
			height: 200px;
			padding: 20px 10px 20px 10px;
		}
		&__addr {
			margin-bottom: 20px;
    		font-size: 17px;
		}
		&__phone {
			margin-bottom: 35px;
			font-size: 17px;
		}
	}
	.modal {
		width: 300px;
		min-height: 140px;
		padding: 20px auto;
		.feed-form {
			width: 224px
		}
		&__close {
			top: 4px;
    		right: 4px;
		}
	}	
}